body {
  width: 360px;
  margin: 0 auto;
}

h1 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

#lead {
  display: flex;
  justify-content: space-between;
}

#lead img {
  height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: 4px;
}

#chess .buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 1rem 0;
}

#chess details {
  background-color: rgba(236, 210, 166, 0.3);
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin: 1rem 0;
}

#chess details p {
  margin: 1rem 0;
}

#chess .highlight-white {
  box-shadow: inset 0 0 3px 3px yellow;
}

#chess .highlight-black {
  box-shadow: inset 0 0 3px 3px blue;
}

#chess p {
  margin: 0;
}

#chess .pieces {
  height: 30px;
}

#chess .pieces img {
  width: 23px;
  height: 23px;
}

#info {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding-right: 5px;
}
